In [1]:
import json
import pandas as pd

In [2]:
directory = 'Data'

train_df = pd.read_csv(f'{directory}/train.csv')
test_df = pd.read_csv(f'{directory}/test/test.csv')

print(f'Train samples: {len(train_df)}')
print(f'Test samples: {len(test_df)}')

Train samples: 14993
Test samples: 3948

In [3]:
# sample 2000 entries from train and 500 from test
train_sample = train_df.sample(n=2000, random_state=442018)
test_sample = test_df.sample(n=500, random_state=442018)

In [4]:
train_sample.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
8587,2,Kitten (Sweetie),3,266,0,2,1,7,0,1,...,1,1,0,41401,0a78415d8e73d890e00929bc72bf4511,0,"- 3 months old. - Female. - Blue eyed, white w...",fd7ae9b79,1.0,2
14394,1,Dolly & Her 7 Pups,1,307,0,3,2,0,0,2,...,1,7,0,41326,d0c57cbd6f9ab01e946e64359cd78d0d,0,Dog lover out there that are willing to adopt ...,21206933c,18.0,2
454,1,Sassy,48,173,307,2,2,0,0,2,...,1,1,0,41326,760f7918bcc85929c4aa3f6dcc494606,0,Here's Sassy's story. She used to be a stray d...,9a9f6c753,4.0,4
6920,2,Tinker Bell,4,266,0,2,1,4,7,1,...,1,1,0,41327,52796d04a7281246b51584240547937a,0,"Hi cute-looking human out there, I was rescued...",01ac09f2a,5.0,3
883,1,KingKong & Leo,32,182,0,1,1,5,0,1,...,1,2,0,41326,133c205139e3cc3c03994933afc93a28,0,Great dogs with great character. Very friendly...,b8d244dd5,2.0,1